@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-section {
  background-image: url('/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.why-afribnb {
  background-image: url('/images/why.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(10px);
}

.why-img {
  background-image: url('/images/why.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}